<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application
        android:name="com.android.hmal.MyApp"
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.android.hmal.ui.activity.AboutActivity"
            android:theme="@style/AppTheme.About"
            android:excludeFromRecents="true" />
        <activity
            android:name="com.android.hmal.ui.activity.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".MainActivityLauncher"
            android:exported="true"
            android:label="@string/app_name"
            android:targetActivity="com.android.hmal.ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <provider
            android:name="com.android.hmal.service.ServiceProvider"
            android:authorities="com.google.android.hmal.ServiceProvider"
            android:exported="true"
            tools:ignore="ExportedContentProvider" />

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Reject applist detection." />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposed_scope" />
    </application>
</manifest>
